<div class="move-right">
  <%= form_for(@link) do |f| %>
    <% if @link.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

        <ul>
        <% @link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="navbar-form">
    <div class="field form-custom">
      <%= f.label :title %><br>
      <%= f.text_field :title, placeholder: '"ESPN"' %>
    </div>
    <div class="field form-custom">
      <%= f.label :url %><br>
      <%= f.text_field :url, placeholder: '"www.espn.com"' %>
    </div>
    <div class="field form-custom-area">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    </div>
    <div class="submit-btn form-custom">
      <%= f.submit %>
    </div>
  </div>
</div>
<% end %>
